body {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url("../../Assets/Image/bg.jpg");
   background-size: cover;
   background-repeat: repeat;
   background-position: center;
}

.logo {
   padding: 48px 62px;
}

.inputsContainer {
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin-bottom: 40px;
}