body {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url("../../Assets/Image/bg.jpg");
   background-size: cover;
   background-repeat: repeat;
   background-position: center;
}

.inputsContainer {
   margin-bottom: 40px;
}